html {
    margin-left: 10px;
}

h3 {
    font-size: 20px;
}

select[name = "bottles"] {
    width: 60px;
}

select[name = "time"] {
    width: 60px;
}

input[name = "gender"] {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

